body {
    background-color: #f8f8f8;
   }
.logo{
	width: 80px;
	height: 80px;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
	background-size: cover;	
}
.menu li a {
    color: #154861;
    text-decoration: none;
    border-bottom: 1px dashed #154861;
    font-style: oblique;
    font-size:large;
}
.menu li a:hover{
	color:#30a9e4;
	border-bottom-color: #30a9e4;
}
.menu li{
	list-style-type: none;
	margin-left: 5px;
}
.heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.full-descriptin, .characteristics {
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics  li{
    list-style-image: url(img/marker.png);
    }

.image-border{
    outline: 2px solid #484343;
}
.image-border:hover{
	outline: 2px solid #f8f8f8;
}
#name, #mail {
    width: 200px;
}
#theme, #message {
    width: 400px;
}
#theme, #name, #mail {
    height: 20px
}
input[type="text"], #message, #mail {
    color: #484343;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}
input[type="text"], #message {
	text-transform: capitalize;
}
form label{
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}
#mail:focus{
	color:#f8f8f8;
	background-color: #484343;
}
.no-marker{
	list-style-type: none;
	padding-left: 0;
}
.catalog-list li a{
    text-decoration: none;
}
.catalog-list li a span{
    color:  #154861;
    font-style: oblique;
    font-size:14px;
}
table{
	border: 1px solid #154861;
	border-collapse: collapse;
	margin: 20px;
}
td {
	border: 1px solid #154861;
	color: #484343;
	font-style:italic;
	padding:5px;	
}
.product p:first-letter{
	font-size: 1.3em;
	font-weight: 600;
	color:#154861;
	
}