/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */       
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway-v11-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('../fonts/raleway-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-500.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
       url('../fonts/raleway-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-800.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/montserrat-v10-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
       url('../fonts/montserrat-v10-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-100.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/montserrat-v10-latin-200.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url('../fonts/montserrat-v10-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-200.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('../fonts/montserrat-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-300.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}