* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  color: #fff;
}
* h2,
* h3,
* h4,
* h5,
* h6 {
  color: #555555;
  text-align: center;
}
* p {
  color: #8c8c8c;
  text-align: center;
}
.std-section {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}
.std-section h2,
.std-section h3,
.std-section h4 {
  max-width: 760px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0 auto 24px;
}
.std-section p {
  max-width: 760px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0 auto 40px;
  line-height: 28px;
}
.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  background-color: #998675;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  width: 168px;
  height: 48px;
  border: 1px solid #998675;
}
.btn span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  font-size: 14px;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #fff;
}
.btn:hover span {
  color: #998675;
}
.btn:active {
  background-color: #f1eee9;
}
header {
  max-height: 1024px;
  background-image: url('../img/header-photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo-block-logo {
  width: 64px;
  height: 56px;
  background: url('../img/logo.png') no-repeat center;
}
.logo-block-cname {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 34px;
}
.header-top-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
.header-top-menu {
  margin-left: 219px;
  width: 637px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top-menu li {
  height: 56px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header-top-menu a {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 56px;
  color: #fff;
}
.header-top-menu a:hover {
  color: #c7b29a;
}
/*Стили для бургер-меню хедера - начало*/
/*hide checker*/
.burger-btn-marker {
  display: none;
}
/*Включаем убранное в медиазапросе меню в поток*/
.burger-btn-marker:checked ~ .header-top-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.burger-btn {
  /* должен быть display: flex но мы убрали кнопку при широком разрешении */
  display: none;
  /* центрируем средний слой бургера */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}
.burger-btn-inner {
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  /* 1 и 3 слои бурнера будут позиционироваться относительно среднего элемента*/
  position: relative;
}
.burger-btn-inner,
.burger-btn-inner::before,
.burger-btn-inner::after {
  display: block;
  width: 50px;
  height: 8px;
  background-color: #fff;
}
.burger-btn-inner::before,
.burger-btn-inner::after {
  content: "";
  position: absolute;
}
.burger-btn-inner::before {
  top: -16px;
}
.burger-btn-inner::after {
  top: 16px;
}
.burger-btn-marker:checked ~ .burger-btn .burger-btn-inner {
  background-color: transparent;
}
.burger-btn-marker:checked ~ .burger-btn .burger-btn-inner::before {
  -webkit-animation: inner-b-transform 0.5s ease;
          animation: inner-b-transform 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.burger-btn-marker:checked ~ .burger-btn:active .burger-btn-inner::before {
  -webkit-animation: inner-b-untransform 0.5s ease;
          animation: inner-b-untransform 0.5s ease;
}
.burger-btn-marker:checked ~ .burger-btn .burger-btn-inner::after {
  -webkit-animation: inner-a-transform 0.5s ease;
          animation: inner-a-transform 0.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.burger-btn-marker:checked ~ .burger-btn:active .burger-btn-inner::after {
  -webkit-animation: inner-a-untransform 0.5s ease;
          animation: inner-a-untransform 0.5s ease;
}
@-webkit-keyframes inner-b-transform {
  0% {
    top: -16px;
  }
  20% {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
@keyframes inner-b-transform {
  0% {
    top: -16px;
  }
  20% {
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
}
@-webkit-keyframes inner-b-untransform {
  0% {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    top: -16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes inner-b-untransform {
  0% {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    top: -16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes inner-a-transform {
  0% {
    top: 16px;
  }
  20% {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}
@keyframes inner-a-transform {
  0% {
    top: 16px;
  }
  20% {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}
@-webkit-keyframes inner-a-untransform {
  0% {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes inner-a-untransform {
  0% {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    top: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*Стили для бургер-меню хедера - конец*/
.header-top-cart {
  width: 24px;
  margin-left: 50px;
  color: #fff;
  font-size: 24px;
}
.header-top-cart:hover {
  color: #c7b29a;
}
.header-top-search {
  width: 24px;
  margin-left: 24px;
  color: #fff;
  font-size: 24px;
}
.header-top-search:hover {
  color: #c7b29a;
}
.header-top-search-input {
  position: absolute;
  right: 0;
  top: 100px;
  border-radius: 3px;
  background-color: #fff;
  width: 398px;
  height: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #555555;
  font-size: 22px;
  border: 1px solid #555555;
  outline: none;
  z-index: -1;
  opacity: 0;
}
.header-top-search-input:focus {
  z-index: 60;
  opacity: 1;
}
.header-slider-wrap {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  height: 928px;
  position: relative;
}
.header-slider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  z-index: 20;
  position: absolute;
  text-align: center;
}
.header-slider > * {
  margin-top: -48px;
}
.header-slider-middle {
  width: 50%;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #fff;
}
.header-slider-big {
  width: 100%;
  margin-top: 14px;
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
}
.header-slider-small {
  width: 50%;
  margin: 14px auto 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
}
.header-slider .slider-button {
  margin: 50px auto 0;
}
.header-slider-left-btn,
.header-slider-right-btn {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 72px;
  background-color: transparent;
  overflow: hidden;
}
.header-slider-left-btn::after,
.header-slider-right-btn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-top: 2px solid #c7b29a;
}
.header-slider-left-btn:hover::after,
.header-slider-right-btn:hover::after {
  border-color: #fff;
}
.header-slider-left-btn {
  left: -185px;
}
.header-slider-left-btn::after {
  border-left: 2px solid #c7b29a;
  -webkit-transform-origin: 37px 0;
      -ms-transform-origin: 37px 0;
          transform-origin: 37px 0;
  -webkit-transform: rotate(-45deg) translateX(-15px);
      -ms-transform: rotate(-45deg) translateX(-15px);
          transform: rotate(-45deg) translateX(-15px);
}
.header-slider-right-btn {
  right: -185px;
}
.header-slider-right-btn::after {
  border-right: 2px solid #c7b29a;
  -webkit-transform-origin: 3px 0;
      -ms-transform-origin: 3px 0;
          transform-origin: 3px 0;
  -webkit-transform: rotate(45deg) translateX(3px);
      -ms-transform: rotate(45deg) translateX(3px);
          transform: rotate(45deg) translateX(3px);
}
.header-slider:target {
  opacity: 1;
  z-index: 40;
}
.header-slider#header-slider-3 {
  opacity: 1;
  z-index: 40;
}
.header-slider:not(:target),
.header-slider:target ~ .header-slider#header-slider-3 {
  opacity: 0;
  z-index: 0;
}
.header-slider-pseudoradio {
  position: absolute;
  z-index: 50;
  bottom: 42px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-slider-pseudoradio li a {
  margin: 0 6px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  border-bottom: none;
}
.header-slider-pseudoradio li a[href="#header-slider-3"] {
  background-color: transparent;
  border: 2px solid #c7b29a;
}
#header-slider-1:target ~ ul li a[href="#header-slider-1"],
#header-slider-2:target ~ ul li a[href="#header-slider-2"],
#header-slider-3:target ~ ul li a[href="#header-slider-3"] {
  background-color: transparent;
  border: 2px solid #c7b29a;
}
#header-slider-1:target ~ ul li a[href="#header-slider-3"],
#header-slider-2:target ~ ul li a[href="#header-slider-3"] {
  background-color: #fff;
  border: none;
}
.services_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.services {
  padding-top: 50px;
  padding-bottom: 50px;
}
.services-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services-menu li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services-menu a {
  display: block;
  padding: 0 15px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 262px;
}
.services-menu .services-menu-img {
  width: 54px;
  height: 50px;
  margin: 0 auto 30px;
  background: url('../img/services-spritesheet.png') no-repeat;
}
.services-menu .services-menu-img-1 {
  background-position: -2px -4px;
}
.services-menu .services-menu-img-2 {
  background-position: -118px 0px;
}
.services-menu .services-menu-img-3 {
  background-position: -229px 1px;
}
.services-menu .services-menu-img-4 {
  background-position: -350px -2px;
}
.services-menu h4 {
  margin-bottom: 24px;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.services-menu p {
  max-width: 266px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.services-menu .services-menu-deco {
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
.services-menu a:hover .services-menu-deco {
  background-color: #c7b29a;
}
.services-menu a:hover h4 {
  color: #c7b29a;
}
.services-menu a:hover .services-menu-img-1 {
  background-position: -61px -4px;
}
.services-menu a:hover .services-menu-img-2 {
  background-position: -172px 0px;
}
.services-menu a:hover .services-menu-img-3 {
  background-position: -291px 1px;
}
.services-menu a:hover .services-menu-img-4 {
  background-position: -404px -2px;
}
.your_idea_area {
  background-color: #fbfaf8;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.your_idea_area .your_idea {
  max-width: 1230px;
}
.your_idea_area .your_idea .browsers-images {
  max-width: 1230px;
  height: 482px;
  background-image: url("../img/browser-center.png"), url("../img/browser-left.png"), url("../img/browser-right.png");
  background-position: center center, bottom left, bottom right;
  background-repeat: no-repeat, no-repeat, no-repeat;
}
.text_box_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.text_box_area .text_box {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.text_box_area .text_box h4 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
  text-align: left;
}
.text_box_area .text_box a {
  color: #c7b29a;
}
.text_box_area .text_box p {
  color: #615855;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
}
.latest_project_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.latest_project {
  padding-bottom: 80px;
}
.latest_project-menu {
  margin: 0 auto 40px;
  max-width: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.latest_project-menu a {
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  border: 1px solid #555555;
  background-color: #fff;
  padding: 0 22px;
  margin: 0 4px;
  color: #998675;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.latest_project-menu a:hover {
  background-color: #998675;
  color: #fff;
}
.latest_project-menu a:active {
  background-color: #f1eee9;
  color: #998675;
}
.latest_project-menu li:last-child a {
  margin-right: 0;
}
.latest_project-menu li:first-child a {
  margin-left: 0;
}
.latest_project-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.latest_project-items li {
  font-size: 0px;
  margin-bottom: 30px;
}
.latest_project-items li:hover figcaption {
  background-color: #362f2d;
}
.latest_project-items li:hover figcaption h6 {
  color: #fff;
}
.latest_project-items li:hover figcaption p {
  color: #c7b29a;
}
.latest_project-items li:hover figcaption::before {
  border-bottom-color: #362f2d;
}
.latest_project-items li:hover figure img {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.latest_project-items figure {
  max-width: 370px;
}
.latest_project-items figure .img-wrap {
  overflow: hidden;
}
.latest_project-items figure img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in;
  -o-transition: filter 0.3s ease-in-out, transform 0.3s ease-in;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in, -webkit-filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in;
}
.latest_project-items figcaption {
  margin: 0 0;
  padding: 28px 0 10px 28px;
  background-color: #fbfaf8;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
}
.latest_project-items figcaption::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 200;
  border-width: 15px;
  border-bottom-width: 10px;
  border-style: solid;
  border-color: #fbfaf8;
  -webkit-transition: border-bottom-color 0.3s ease-in-out;
  -o-transition: border-bottom-color 0.3s ease-in-out;
  transition: border-bottom-color 0.3s ease-in-out;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-style: none;
}
.latest_project-items figcaption h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  color: #c7b29a;
  margin-bottom: 12px;
}
.latest_project-items figcaption p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: #d1d1d1;
  margin-bottom: 0;
}
.latest_project-button {
  margin: 10px auto 0;
}
.video_presentation {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/video-bg.png') no-repeat center;
  background-size: cover;
  padding: 200px 0;
}
.video_presentation h2,
.video_presentation h3,
.video_presentation h4 {
  max-width: 560px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 0 auto 30px;
  color: #fff;
}
.video_presentation p {
  max-width: 560px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin: 0 auto 30px;
  color: #fff;
}
.video_presentation-time {
  display: block;
  max-width: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c7b29a;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
}
.video_presentation-btn {
  display: block;
  margin: 0 auto 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.video_presentation-btn:hover .btn-inner-circle {
  stroke: #c7b29a;
}
.video_presentation-btn:active {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.video_presentation-btn-inner {
  width: 100px;
  height: 100px;
}
.video_presentation-btn-inner .btn-inner-bg {
  fill: rgba(0, 0, 0, 0.2);
}
.video_presentation-btn-inner .btn-inner-circle {
  stroke: #fff;
}
.video_presentation-btn-inner .btn-inner-triangle {
  stroke: #fff;
}
.for_mobile_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  min-height: 695px;
  background-color: #fbfaf8;
}
.for_mobile {
  padding-top: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.for_mobile img {
  width: 423px;
  height: 616px;
  margin-right: 30px;
}
.for_mobile-item:not(:first-child) {
  max-width: 657px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  margin-bottom: 40px;
}
.for_mobile h3,
.for_mobile p {
  text-align: left;
  margin-bottom: 40px;
}
.for_mobile p {
  line-height: 28px;
}
.for_mobile ul {
  text-align: left;
  padding-left: 90px;
}
.for_mobile li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #8c8c8c;
  list-style-image: url('../img/list-item.png');
  padding-left: 20px;
}
.for_mobile:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.counters_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.counters {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.counters figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.counters figcaption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0;
}
.counters figcaption::after {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 30px;
  height: 2px;
}
.counters .sprite {
  background-image: url('../img/counters-spritesheet.png');
  background-repeat: no-repeat;
}
.counters .sprite.sprite-icon_1 {
  background-position: -5px -5px;
  width: 44px;
  height: 44px;
}
.counters .sprite.sprite-icon_2 {
  background-position: -59px -5px;
  width: 48px;
  height: 44px;
}
.counters .sprite.sprite-icon_3 {
  background-position: -117px -5px;
  width: 44px;
  height: 44px;
}
.counters .sprite.sprite-icon_4 {
  background-position: -171px -5px;
  width: 44px;
  height: 44px;
}
.counters .sprite.sprite-icon_5 {
  background-position: -225px -5px;
  width: 54px;
  height: 44px;
}
.counters span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 48px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.counters p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c7b29a;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.recent_posts_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.recent_posts {
  padding-bottom: 80px;
}
.recent_posts .posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.recent_posts .posts li {
  font-size: 0px;
  margin-bottom: 30px;
}
.recent_posts .posts-post {
  max-width: 370px;
  position: relative;
  -webkit-box-shadow: 0 0 2px 0 #998675;
          box-shadow: 0 0 2px 0 #998675;
  padding-bottom: 30px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.recent_posts .posts-post .img-wrap {
  overflow: hidden;
  position: relative;
}
.recent_posts .posts-post img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in;
  -o-transition: filter 0.3s ease-in-out, transform 0.3s ease-in;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in, -webkit-filter 0.3s ease-in-out, -webkit-transform 0.3s ease-in;
}
.recent_posts .posts-post h6 {
  margin: 30px 0 20px 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #555555;
  font-size: 20px;
  text-align: left;
}
.recent_posts .posts-post p {
  margin: 0 0 27px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}
.recent_posts .posts-post > a {
  margin-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #c7b29a;
  font-size: 14px;
  text-align: left;
  position: relative;
}
.recent_posts .posts-post > a::after {
  position: absolute;
  top: 3px;
  right: -25px;
  content: "";
  display: block;
  border-left-color: #c7b29a;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: none;
}
.recent_posts .posts-post > a:hover {
  text-decoration: underline;
}
.recent_posts .posts-post .post-date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 20;
  width: 50px;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #191919), color-stop(40%, #333333));
  background-image: -webkit-linear-gradient(bottom, #191919 40%, #333333 40%);
  background-image: -o-linear-gradient(bottom, #191919 40%, #333333 40%);
  background-image: linear-gradient(to top, #191919 40%, #333333 40%);
  color: #fff;
  text-align: center;
}
.recent_posts .posts-post .post-date-day {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}
.recent_posts .posts-post .post-date-month {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.recent_posts .posts-post:hover {
  background-color: #362f2d;
}
.recent_posts .posts-post:hover img {
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.recent_posts .posts-post:hover p {
  color: #fff;
}
.recent_posts .posts-post:hover h6 {
  color: #c7b29a;
}
.recent_posts .posts-post:hover .post-date {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #998675), color-stop(40%, #afa092));
  background-image: -webkit-linear-gradient(bottom, #998675 40%, #afa092 40%);
  background-image: -o-linear-gradient(bottom, #998675 40%, #afa092 40%);
  background-image: linear-gradient(to top, #998675 40%, #afa092 40%);
  -webkit-animation: opacity 0.3s ease-in;
          animation: opacity 0.3s ease-in;
}
.recent_posts .posts-post:hover .posts-post-features {
  z-index: 30;
  opacity: 1;
}
.recent_posts .posts-post-features {
  position: absolute;
  font-size: 26px;
  top: 50%;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.recent_posts .posts-post-features:hover {
  color: #c7b29a;
}
.recent_posts .posts-post-link {
  left: 40%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.recent_posts .posts-post-look {
  right: 40%;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.partners_area {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/partners-bg.png') no-repeat center;
  background-size: cover;
}
.partners {
  padding: 140px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners a {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.partners a:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
.partners a img {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}
footer {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  background-color: #191919;
}
.contacts {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-column {
  width: 270px;
  padding: 78px 0;
}
.contacts-column-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 80px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  color: #fff;
}
.contacts-column-header span {
  margin-top: 25px;
}
.contacts-column-content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
.color-blue {
  color: #00bff3;
}
.color-grey {
  color: #959595;
}
.contacts-column .contacts-column-content-date,
.contacts-column .contacts-column-content-time {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #363636;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
.contacts-column:not(:last-child) li:hover p {
  color: #c7b29a;
}
.contacts-column:not(:last-child) li:hover .contacts-column-content-date,
.contacts-column:not(:last-child) li:hover .contacts-column-content-time {
  color: #fff;
}
.contacts-column:not(:last-child) li:not(:first-child) {
  border-top: 1px solid #545454;
  padding-top: 18px;
}
.contacts-column:not(:last-child) li:not(:last-child) {
  padding-bottom: 18px;
}
.contacts-column:first-child .contacts-column-content p {
  padding-bottom: 24px;
  line-height: 24px;
}
.contacts-column:first-child .contacts-column-content a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  color: #d1d1d1;
  font-size: 14px;
  text-align: left;
}
.contacts-column:first-child .contacts-column-content a::after {
  position: absolute;
  top: 3px;
  right: -25px;
  content: "";
  display: block;
  border-left-color: #d1d1d1;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right: none;
}
.contacts-column:first-child .contacts-column-content a:hover {
  text-decoration: underline;
}
.contacts-column-content-dw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-column-content-dw .dw-photo {
  margin-bottom: 10px;
  background-image: url('../img/dw-spritesheet.png');
  background-repeat: no-repeat;
  display: block;
}
.contacts-column-content-dw .dw-photo.dw-photo_01 {
  background-position: -5px -5px;
  width: 130px;
  height: 98px;
}
.contacts-column-content-dw .dw-photo.dw-photo_02 {
  background-position: -145px -5px;
  width: 130px;
  height: 98px;
}
.contacts-column-content-dw .dw-photo.dw-photo_03 {
  background-position: -285px -5px;
  width: 130px;
  height: 98px;
}
.contacts-column-content-dw .dw-photo.dw-photo_04 {
  background-position: -425px -5px;
  width: 130px;
  height: 98px;
}
.contacts-column-content-dw .dw-photo:hover {
  -webkit-box-shadow: 0 0 2px 2px #c7b29a;
          box-shadow: 0 0 2px 2px #c7b29a;
}
.copyrights {
  background-color: #111111;
}
.copyrights-inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  height: 111px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.copyrights-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #545454;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
}
.copyrights-part h6 {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}
.copyrights-part a {
  color: #545454;
}
.copyrights-part li:not(:last-child) {
  padding: 0 10px;
  border-right: 1px solid #545454;
}
.copyrights-part li:last-child {
  padding-left: 10px;
}
.copyrights-part li:first-child {
  padding-left: 0;
}
/** Модальное окошко с видео **/
/* стили фона затемнения */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  visibility: hidden;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  position: fixed;
  /* фиксированное позиционирование */
  /* трансформация прозрачности при открытии  */
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
/* активируем при клике */
.overlay:target {
  visibility: visible;
  opacity: 1;
}
/** стили модального блока */
.video-modal {
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  /** полная прозрачность изначально */
  opacity: 0;
  display: block;
  visibility: hidden;
  position: fixed;
  /* трансформация прозрачности при открытии  */
  -webkit-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
  margin: 0 auto;
  min-width: 320px;
  max-width: 854px;
  width: 100%;
  border: 1px solid #c7b29a;
  border-radius: 5px;
  background: #555555;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 13px 3px #615855;
          box-shadow: 0 0 13px 3px #615855;
}
/* активируем при клике */
.overlay:target + .video-modal {
  top: 5%;
  visibility: visible;
  opacity: 1;
}
/* кнопка закрытия */
.close-btn {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  z-index: 1000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.close-btn::before {
  content: "";
  display: block;
  height: 30px;
  width: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 10px;
  border-top-color: rgba(255, 0, 0, 0.8);
  border-bottom-color: rgba(255, 0, 0, 0.8);
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  left: 5px;
}
.close-btn::after {
  content: "";
  display: block;
  height: 20px;
  width: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 10px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: rgba(255, 0, 0, 0.8);
  border-right-color: rgba(255, 0, 0, 0.8);
  position: absolute;
  top: 5px;
  left: 0;
}
/* адаптивный блок видео */
.video-content {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}
.video-content iframe,
.video-content object,
.video-content embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
  .header-slider-left-btn {
    left: 0;
  }
  .header-slider-right-btn {
    right: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-slider-left-btn {
    left: 0;
  }
  .header-slider-right-btn {
    right: 0;
  }
  .header-top-line {
    width: 100%;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .header-top-cart {
    margin-left: 10px;
  }
  .header-top-menu {
    margin-left: 10px;
    width: 510px;
  }
  .header-top-search {
    display: none;
  }
  header {
    height: 640px;
  }
  .header-slider-wrap {
    height: 544px;
  }
  header,
  footer,
  .video_presentation {
    width: 100%;
  }
  .text_box_area,
  .counters_area,
  .services_area,
  .your_idea_area,
  .latest_project_area,
  .for_mobile_area,
  .recent_posts_area,
  .partners_area {
    width: 100%;
  }
  .header-top-line,
  .header-slider-wrap,
  .text_box,
  .counters,
  .contacts,
  .copyrights-inner,
  .std-section {
    width: 96%;
  }
  .latest_project-items,
  .latest_project-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latest_project-items li {
    margin-left: 20px;
    margin-right: 20px;
  }
  .latest_project-items li:not(:nth-child(-n+4)) {
    display: none;
  }
  .recent_posts .posts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent_posts .posts li {
    margin-left: 30px;
    margin-right: 30px;
  }
  .partners {
    padding: 70px 0;
  }
  .partners img {
    width: 150px;
  }
  .counters_area {
    padding: 10px 0;
  }
  .counters .sprite,
  .counters figcaption::after {
    display: none;
  }
  .contacts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts-column {
    margin-left: 10px;
    margin-right: 10px;
  }
  .contacts-column:last-child {
    display: none;
  }
  ul.contacts-column-content li:last-child {
    display: none;
  }
  .video_presentation {
    padding: 100px 0;
  }
  .text_box_area .text_box {
    height: 120px;
  }
  .video-modal {
    width: 90%;
  }
}
/*Примесь - общее для медиазапросов менее 768px */
/* широкий смарт */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /*header burger menu styles BEGIN*/
  .burger-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .header-top-line {
    min-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-top-line nav {
    width: 100%;
  }
  .header-top-line .logo-block {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .header-top-line .header-top-menu-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header-top-menu {
    width: 100%;
    display: none;
    margin: 5px auto 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header-top-menu li {
    width: 100%;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid #555555;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header-top-menu a {
    font-size: 1.5em;
  }
  /*header burger menu styles END*/
  *.hide-in-mobile {
    display: none;
  }
  header,
  footer,
  .video_presentation {
    width: 100%;
  }
  header {
    background-size: auto auto;
    background-position: top;
  }
  .text_box_area,
  .services_area,
  .latest_project_area,
  .for_mobile_area,
  .recent_posts_area,
  .partners_area {
    width: 100%;
  }
  .header-top-line,
  .text_box,
  .copyrights-inner,
  .std-section {
    width: 96%;
  }
  .text_box_area .text_box {
    height: 80px;
  }
  .latest_project-items,
  .latest_project-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latest_project-menu li:nth-last-child(2) {
    display: none;
  }
  .latest_project-items li {
    margin-left: 20px;
    margin-right: 20px;
  }
  .latest_project-items li:not(:nth-child(-n+4)) {
    display: none;
  }
  .recent_posts .posts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent_posts .posts li {
    margin-left: 30px;
    margin-right: 30px;
  }
  .services,
  .latest_project,
  .video_presentation,
  .recent_posts,
  .partners {
    padding: 40px 0;
  }
  .for_mobile {
    padding: 40px 0 0;
  }
  .partners img {
    width: 70%;
  }
  .copyrights-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-modal {
    width: 90%;
  }
}
/* узкий смарт */
@media only screen and (max-width: 479px) {
  /*header burger menu styles BEGIN*/
  .burger-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .header-top-line {
    min-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-top-line nav {
    width: 100%;
  }
  .header-top-line .logo-block {
    position: absolute;
    top: 20px;
    left: 0;
  }
  .header-top-line .header-top-menu-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header-top-menu {
    width: 100%;
    display: none;
    margin: 5px auto 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header-top-menu li {
    width: 100%;
    margin: 0 2px;
    border-radius: 3px;
    border: 1px solid #555555;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header-top-menu a {
    font-size: 1.5em;
  }
  /*header burger menu styles END*/
  *.hide-in-mobile {
    display: none;
  }
  header,
  footer,
  .video_presentation {
    width: 100%;
  }
  header {
    background-size: auto auto;
    background-position: top;
  }
  .text_box_area,
  .services_area,
  .latest_project_area,
  .for_mobile_area,
  .recent_posts_area,
  .partners_area {
    width: 100%;
  }
  .header-top-line,
  .text_box,
  .copyrights-inner,
  .std-section {
    width: 96%;
  }
  .text_box_area .text_box {
    height: 80px;
  }
  .latest_project-items,
  .latest_project-menu {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .latest_project-menu li:nth-last-child(2) {
    display: none;
  }
  .latest_project-items li {
    margin-left: 20px;
    margin-right: 20px;
  }
  .latest_project-items li:not(:nth-child(-n+4)) {
    display: none;
  }
  .recent_posts .posts {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent_posts .posts li {
    margin-left: 30px;
    margin-right: 30px;
  }
  .services,
  .latest_project,
  .video_presentation,
  .recent_posts,
  .partners {
    padding: 40px 0;
  }
  .for_mobile {
    padding: 40px 0 0;
  }
  .partners img {
    width: 70%;
  }
  .copyrights-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-modal {
    width: 90%;
  }
  /*ОТЛИЧИТЯ ОТ ПРЕДЫДУЩЕГО МЕДИАЗАПРОСА*/
  .latest_project-menu {
    display: none;
  }
  .latest_project-items li:hover figure img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .recent_posts .posts-post:hover img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .recent_posts .posts li,
  .latest_project .latest_project-items li {
    margin-left: 10px;
    margin-right: 10px;
  }
}
