* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f8f8f8;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100%;
}

.header {
    height: 100px;
    /*	background-color: #3a91ad;*/
    border-bottom: 1px solid #484343;
    background: url(img/mountains.png) no-repeat;
    background-size: cover;
}

.logo-block {
    padding-top: 10px;
    padding-left: 10px;
    width: 290px;
    height: 90px;
    float: left;
    background-color: #442f26;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.logo-text {
    height: 80px;
    margin-left: 10px;
    font-size: 50px;
    font-family: Sans-serif;
    line-height: 100px;
    color: #f8f8f8;
    float: left;
}

.clr {
    clear: both;
}

.menu {
    display: flex;
    float: right;
    height: 100px;
    align-items: center;
}

.menu-item {
    width: 100px;
    height: inherit;
}

.menu-item a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /*	color: #442f26;*/
    color: #f8f8f8;
    text-decoration: none;
    font-family: sans-serif;
    /*	font-style: oblique;*/
    font-size: large;
    font-weight: 600;
    width: inherit;
    height: inherit;
}

.menu-item a:hover {
    background-color: #442f26;
    color: #f8f8f8;
}

.content,
.product {
    padding: 10px 0;
}

.content p,
.content h1 {
    padding: 10px 0;
}

.product p,
.product h3,
.product h4,
ul {
    margin: 0 0 10px;
}

.product-heading {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.product-image-button-wrap {
    float: left;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product-image-href {
    display: block;
    width: 296x;
    height: 296px;
    margin-left: 2px;
}

.product-image-border {
    /*	border: 2px solid #484343;*/
    outline: 2px solid #442f26;
}

.product-image-border:hover {
    /*	border: 2px solid transparent;*/
    outline: none;
}

.product-buy-button {
    display: block;
    outline: none;
    width: 300px;
    height: 40px;
    background-color: #442f26;
    font-size: 20px;
    font-weight: 400;
    color: #f8f8f8;
    border: 2px solid #442f26;
    box-sizing: border-box;
}

.product-buy-button:hover {
    font-weight: 600;
}

.product-buy-button:active {
    background-color: #f8f8f8;
    font-weight: 600;
    color: #442f26;
}

.short-description-wrap {
    /*	float:left;*/
    overflow: hidden;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.full-descriptin,
.characteristics {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.characteristics li {
    list-style-image: url(img/marker.png);
    list-style-position: inside;
}

.catalog-list li {
    width: 200px;
    height: 240px;
    float: left;
    /*	border: 2px solid #442f26;*/
    margin-right: 50px;
    margin-bottom: 20px;
}

.catalog-list li:nth-child(5n) {
    margin-right: 0;
}

.catalog-list li a {
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
}

.catalog-list li a img {
    width: inherit;
    display: block;
    border: 2px solid #442f26;
    box-sizing: border-box;
}

.catalog-list li a div {
    display: inline;
    /*	height: auto;*/
    color: #154861;
    font-style: oblique;
    font-size: 14px;
}

table {
    border: 1px solid #154861;
    border-collapse: collapse;
    margin: 20px;
}

td {
    border: 1px solid #154861;
    padding: 5px;
    color: #484343;
    font-style: italic;
    text-align: center;
}

caption {
    color: #484343;
    font-style: italic;
    font-weight: 600;
    text-align: right;
}

.product p:first-letter {
    font-size: 1.3em;
    font-weight: 600;
    color: #154861;
}

table.numbers tr:first-child {
    height: 40px;
}

#name,
#mail {
    width: 200px;
}

#theme,
#message {
    width: 400px;
}

#theme,
#name,
#mail {
    height: 20px
}

input[type="text"],
#message,
#mail {
    color: #484343;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

input[type="text"] {
    text-transform: capitalize;
}

form label {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

#mail:focus {
    color: #f8f8f8;
    background-color: #484343;
}

.no-marker {
    list-style-type: none;
    /*	padding-left: 0;*/
}

.footer {
    height: 80px;
    background-color: #442f26;
    border-top: 1px solid #484343;
    padding: 10px 10px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -80px;
    clear: both;
}

.all-rights-notify {
    float: right;
    color: #f8f8f8;
}

.clear {
    height: 80px;
}
