@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

* {
    margin: 0;
    padding: 0;
}

body{
        background-color: #fafafa;
}

.container {
    font-family: 'Droid Sans', sans-serif;
     /* for change in mediaquery */
    font-size: 0.6em;
    height: 100vh;
    margin: 0 auto;
     /* for change in mediaquery */
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* for change in mediaquery */
    justify-content: space-around;
   /*  flex-wrap: wrap;
    align-content: center; */
}

.wrapper{
    width:100%;
}

.score {
    color: green;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

#snake-field {
    margin-bottom: 10px;
    background: #fff;
    border: 2px solid green;
    /*for height == width*/
    position: relative; 
    /*set width for responseive game field*/
    width: 100%;     
}

/*pseudo - for height == width;*/
#snake-field::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.game-field {
    /*for width == heigth*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    /*field row settings*/
     display: flex;
     flex-direction: column;
}

.game-field-row {
    height: 5%;
    display: flex;
}

.game-field-cell {
    width: 5%;
    background-color: rgb(134, 249, 120);
    position: relative;
}

.snake-unit::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #000;
}

.snake-unit-head::after{
    border-top-right-radius:35% 100%;
    border-top-left-radius: 35% 100%;    
}

.snake-unit-tail::after{
    border-bottom-right-radius:50% 100%;
    border-bottom-left-radius: 50% 100%;    
}

/* direction-up как таковой не нужен но для читаемости
и последующей совместимости оставлен*/
.snake-unit-direction-up{
    transform: rotate(0deg);
}

.snake-unit-direction-right{
    transform: rotate(90deg);
}

.snake-unit-direction-left{
    transform: rotate(-90deg);
}

.snake-unit-direction-down{
    transform: rotate(180deg);
}

.snake-unit-turn-right::after{
    border-top-left-radius: 100%;
}

.snake-unit-turn-left::after{
    border-top-right-radius: 100%;
}

.food-unit::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #f00;
    border-radius: 50%;
}

.barrier-unit::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;  
    z-index: 5;
    background-color: #aaa;
    border-radius: 30%;
}

.show-alert {
    position: relative;
}

.show-alert::after {
    content: "GAME OVER";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: green;
    font-weight: bold;
    z-index: 10;
    text-align: center;
    width: 80%;
}

/* BUTTONS */

.control-btns {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* outline: 1px dotted black; */
}

.btn-row {
  display: flex;
}

.btn-cell{
 /* outline: 1px dotted black; */
  width: 20%;
}

.btn {
    background: green;
    color: white;
    cursor: pointer;
    position: relative;    
}

.btn:active {
    background-color: darkgreen;
}

.btn::after {
    /*for btn height == btn width*/
    content: "";
    display: block;
    padding-top: 100%;
}

.control-btn {    
    border-radius: 50%;    
    overflow: hidden;
}

.control-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-10px);        
    border: 15px solid transparent;
    border-bottom: 15px solid #fff;
}
   
#btn-down{
    transform: rotate(180deg);
}

#btn-left{
    transform: rotate(-90deg);
}

#btn-right{
    transform: rotate(90deg);
}

#btn-start-stop {
    font-weight: bold;
    border-radius: 30%; 
    transform: scale(1.5, 1.5) translateY(-20%);  
}

.btn-start::before {
    content: "Start";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.btn-stop::before {
    content: "Stop";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

/***********************MOBILE FIRST**********************/
/* @media only screen (max-width: 419px) and (min-aspect-ratio: 200/282){
     .container {
         display: none;
     }
 }
 */
/***********************width 320 - 359**********************/
@media screen and (min-width: 320px) and (max-width: 359px) and (min-aspect-ratio: 200/319){
    .container {
        font-size: 0.8em;
        width: 256px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) and (min-aspect-ratio: 200/356) and (max-aspect-ratio: 200/319){
    .container {
        font-size: 0.8em;
        /* width: 90%; */
        width: 256px;
    }
}
@media screen and (min-width: 320px) and (max-width: 359px) and (max-aspect-ratio: 200/356){
    .container {
        font-size: 0.8em;
        width: 300px;      
    }
}
/***********************width 360 - 420**********************/
@media screen and (min-width: 360px) and (max-width: 420px) and (min-aspect-ratio: 200/319){
    .container {
        font-size: 1em;

    }
}
@media screen and (min-width: 360px) and (max-width: 420px) and (min-aspect-ratio: 200/356) and (max-aspect-ratio: 200/319){
    .container {
        font-size: 1em;
        width: 320px;
    }
}
@media screen and (min-width: 360px) and (max-width: 420px) and (max-aspect-ratio: 200/356){
    .container {
        font-size: 1em;
        width: 320px;   
    }
}
/***********************width > 420 height <= 603*************/
@media screen and (min-width: 421px) and (max-height: 603px){
    .container {
        font-size: 1em;
        width: 350px;
        justify-content: center;      
    }
}
/***********************width > 420 height > 603*************/
@media screen and (min-width: 421px) and (min-height: 604px){
    .container {
        font-size: 1em;
        width: 350px;
        justify-content: center;      
    }
}
