* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto;
}

.container>* {
    margin-bottom: 10px;
}

.score {
    color: green;
    font-size: 1.8em;
    font-weight: bold;
}

#snake-field {
    background: #fff;
    border: 2px solid green;
    /*for height == width*/
    position: relative; 
    /*set width for responseive game field*/
    width: 100%; 
}

/*pseudo - for height == width;*/
#snake-field::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.control-btns {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: green;
    color: white;
    font-size: 1.8em;
    line-height: 1.5em;
    text-align: center;
    cursor: pointer;
    height: 50px;
}

.btn:active{
    background-color: darkgreen;
}

.control-btn {
    width: 50px;   
    border-radius: 50%;    
    position: relative;
}

.control-btn::before {
    content: "";
    position: absolute;    
    border: 15px solid transparent;
}

#btn-up::before{
    bottom: 40%;
    left: 20%;
    border-bottom: 15px  solid #fff;
}

#btn-down::before{
    top: 40%;
    left: 20%;
    border-top: 15px  solid #fff;
}

#btn-left::before{
    right: 40%;
    top: 20%;
    border-right: 15px  solid #fff;
}

#btn-right::before{
    left: 40%;
    top: 20%;
    border-left: 15px  solid #fff;
}

.control-btn-lrwrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#btn-start-stop {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

.game-field {
    /*for width == heigth*/
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; /
    /*field row settings*/
    display: flex;
    flex-direction: column;
}

.game-field-row {
    height: 5%;
    display: flex;
}

.game-field-cell {
    width: 5%;
    //background-color: #ee0;
    background-color: rgb(134, 249, 120);
    //border: 1px dotted #fff;
    position: relative;
}

.snake-unit::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #000;
}

.snake-unit-tail::after{
    border-bottom-right-radius:70% 100%;
    border-bottom-left-radius: 70% 100%;    
}

.snake-unit-head::after{
    border-bottom-right-radius:70% 100%;
    border-bottom-left-radius: 70% 100%;    
}

/* direction-up как таковой не нужен но для читаемости
и последующей совместимости оставлен*/
.snake-unit-direction-up{
    transform: rotate(0deg);
}

.snake-unit-direction-right{
    transform: rotate(90deg);
}

.snake-unit-direction-left{
    transform: rotate(-90deg);
}

.snake-unit-direction-down{
    transform: rotate(180deg);
}

.food-unit::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    background-color: #f00;
    border-radius: 50%;
}

.barrier-unit::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;  
    z-index: 5;
    background-color: #aaa;
    border-radius: 30%;
}

.show-alert {
    position: relative;
}

.show-alert::after {
    content: "GAME OVER";
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 3em;
    color: green;
    font-weight: bold;
    z-index: 10;
}