body {
    background-color: #f8f8f8;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

.header {
    background-color: #abeafa;
    height: 700px;
}

.main {
    margin: 0 165px;
}

.header .logo {
    float: left;
    width: 125px;
    height: 111px;
    margin-top: 24px;
    margin-left: 234px;
    background-image: url(/img/surfhouse%20logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header .items {
    float: right;
    width: 120px;
    height: 16px;
    margin-top: 50px;
    margin-right: 229px;
    position: relative;
}

.header .items>a {
    position: absolute;
}

.header .logo-facebook {
    width: 8px;
    height: 16px;
    top: 0;
    left: 0;
    background-image: url(/img/facebook%20icon.png);
}

.header .logo-twitter {
    width: 16px;
    height: 14px;
    top: 1px;
    left: 23px;
    background-image: url(/img/twitter%20icon.png);
}

.header .logo-youtube {
    width: 16px;
    height: 16px;
    top: 0px;
    left: 50px;
    background-image: url(/img/youtube%20icon.png);
}

.header .logo-pinterest {
    width: 14px;
    height: 16px;
    top: 0px;
    left: 78px;
    background-image: url(/img/pinterest%20icon.png);
}

.header .logo-instagram {
    width: 16px;
    height: 16px;
    top: 0px;
    left: 104px;
    background-image: url(/img/insta%20icon.png);
}

.clr {
    clear: both;
}

.box-welcome {
    background-color: #fff51f;
    width: 220px;
    height: 300px;
    margin-top: 201px;
    margin-left: 165px;
    float: left;
    padding: 0 25px;
}

.box-welcome h3 {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #333333;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 82px;
    margin-bottom: 24px;
}

.box-welcome p {
    font-family: raleway, sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    font-style: italic;
}

.slide {
    float: right;
    margin-right: 274px;
    margin-top: 108px;
    width: 313px;
    height: 169px;
}

.slide h3 {
    font-family: raleway, sans-serif;
    font-style: normal;
    color: #fff51f;
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.slide p {
    color: #fff51f;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.slide-buy-button {
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    margin-top: 62px;
    margin-left: 3px;
    text-transform: uppercase;
    font-family: raleway, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
}

.main .sidebar {
    float: left;
}

.main .menu {
    background-color: #26d2fc;
    font-family: Roboto;
    margin-top: -20px;
}

.main .menu li {
    list-style-type: none;
    width: 270px;
    height: 43px;
}

.main .menu a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    padding-left: 40px;
}

.main .menu li:first-child {
    width: 228px;
    height: 66px;
    background-color: #333333;
    color: #ffffff;
    line-height: 66px;
    padding-left: 42px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.main .menu li a:hover {
    background-color: #333333;
    color: #ffffff;
}

.banner1 {
    background-color: #e0e0e0;
    width: 110px;
    height: 171px;
    margin: 30px 0;
    padding: 129px 19px 0 141px;
}

.banner1 h3 {
    font-family: raleway, sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.main .products {
    margin-top: -20px;
    width: 870px;
    float: right;
    background-color: #f8f8f8;
   }

.main .products h3 {
    margin: 31px 25px 0;
    font-family: roboto, sans-serif;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
}
