html,
body {
    height: 100%;
}

body {
    background-color: #f8f8f8;
}

.container {
    width: 1500px;
    margin: 0 auto;
    min-height: 100%;
}

.header {
    background-color: #abeafa;
    height: 700px;
}

.main {
    margin: 0 165px;
}

.header .logo {
    float: left;
    width: 125px;
    height: 111px;
    margin-top: 24px;
    margin-left: 234px;
    background-image: url(/img/surfhouse%20logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header .items {
    float: right;
    width: 120px;
    height: 16px;
    margin-top: 50px;
    margin-right: 229px;
    position: relative;
}

.header .items>a {
    position: absolute;
}

.header .logo-facebook {
    width: 8px;
    height: 16px;
    top: 0;
    left: 0;
    background-image: url(/img/facebook%20icon.png);
}

.header .logo-twitter {
    width: 16px;
    height: 14px;
    top: 1px;
    left: 23px;
    background-image: url(/img/twitter%20icon.png);
}

.header .logo-youtube {
    width: 16px;
    height: 16px;
    top: 0px;
    left: 50px;
    background-image: url(/img/youtube%20icon.png);
}

.header .logo-pinterest {
    width: 14px;
    height: 16px;
    top: 0px;
    left: 78px;
    background-image: url(/img/pinterest%20icon.png);
}

.header .logo-instagram {
    width: 16px;
    height: 16px;
    top: 0px;
    left: 104px;
    background-image: url(/img/insta%20icon.png);
}

.clr {
    clear: both;
}

.box-welcome {
    background-color: #fff51f;
    width: 220px;
    height: 300px;
    margin-top: 201px;
    margin-left: 165px;
    float: left;
    padding: 0 25px;
}

.box-welcome h3 {
    font-family: raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #333333;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 82px;
    margin-bottom: 24px;
}

.box-welcome p {
    font-family: raleway, sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    font-style: italic;
}

.slide {
    float: right;
    margin-right: 274px;
    margin-top: 108px;
    width: 313px;
    height: 169px;
}

.slide h3 {
    font-family: raleway, sans-serif;
    font-style: normal;
    color: #fff51f;
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
}

.slide p {
    color: #fff51f;
    font-family: raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.slide-buy-button {
    display: block;
    text-decoration: none;
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    margin-top: 62px;
    margin-left: 3px;
    text-transform: uppercase;
    font-family: raleway, sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
}

.slide-buy-button:hover {
    background-color: #d6ce23;
}

.slide-buy-button:active {
    background-color: #abeafa;
    color: #f8f8f8;
}

.main .sidebar {
    float: left;
}

.menu {
    background-color: #26d2fc;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
}

.menu>li {
    list-style-type: none;
    width: 270px;
    height: 43px;
    position: relative;
}

.menu>li>a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    padding-left: 40px;
}

.menu>li:first-child {
    width: 228px;
    height: 66px;
    background-color: #333333;
    color: #ffffff;
    line-height: 66px;
    padding-left: 42px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.menu>li:hover>a {
    background-color: #333333;
    color: #ffffff;
}

.second-level {
    width: 155px;
    background-color: #75e3fe;
    padding: 1px 0;
    margin-left: 270px;
    margin-top: -43px;
    display: none;
    position: relative;
    z-index: 10;
}

.menu>li:hover>ul {
    display: block;
}

.second-level li {
    list-style-type: none;
    height: 40px;
}

.second-level li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
    display: block;
    position: relative;
    z-index: 10;
}

.second-level li a span {
    margin-left: 27px;
}

.second-level li a:before {
    content: "";
    display: block;
    background-image: url(/img/menu-item.png);
    background-repeat: no-repeat;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 18px;
    left: 14px;
    z-index: 20;
}

.second-level>li>a:after {
    content: "";
    display: none;
    background-image: url(/img/second-level-menu-indic.png);
    background-repeat: no-repeat;
    width: 11px;
    height: 14px;
    position: absolute;
    top: 13px;
    left: 130px;
    z-index: 20;
}

.second-level>li:hover>a:after {
    display: block;
}

.second-level li a:active {
    color: #f8f8f8;
}

.third-level {
    margin-left: 155px;
    margin-top: -46px;
    width: 165px;
    background-color: #75e3fe;
    display: none;
    position: relative;
    z-index: 10;
}

.second-level>li:hover>ul {
    display: block;
}

.third-level li a span {
    margin-left: 31px;
}

.third-level li a:before {
    left: 18px;
}

.third-level li a:hover {
    color: #333333;
    text-decoration: underline;
}

.third-level li a:active {
    color: #f8f8f8;
    text-decoration: none;
}

.banner1 {
    display: block;
    text-decoration: none;
    background-color: #e0e0e0;
    width: 110px;
    height: 171px;
    margin: 30px 0;
    padding: 129px 19px 0 141px;
}

.banner1:hover {
    background-color: #fff51f;
}

.banner1:active h3 {
    color: #f8f8f8;
}

.banner1 h3 {
    font-family: raleway, sans-serif;
    font-style: normal;
    color: #333333;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.main .products {
    margin-top: -20px;
    width: 870px;
    float: right;
    background-color: #f8f8f8;
}

.products-header {
    margin: 57px 25px 31px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
}

.products-header-top {
    margin-top: 31px;
}

.products-header-top {
    margin: 31px 25px;
    font-family: 'Roboto', sans-serif;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
}

.product-list {
    list-style-type: none;
}

.product-item {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.product-item:nth-child(3n) {
    margin-right: 0;
}

.product-item a {
    display: block;
    background-color: #ffffff;
    width: 250px;
    height: 310px;
    padding: 10px 10px 0;
    text-decoration: none;
}

.product-item a:hover {
    box-shadow: 0 0 20px #333;
}

.product-item a:active {
    box-shadow: none;
}

.product-item img {
    display: block;
    /*  display: block - чтобы убрать рамку вокруг картинки */
    width: 250px;
    height: 230px;
    margin-bottom: 25px;
    border: none;
    background-color: #eaeaea;
}

.product-item-about {
    float: left;
    width: 135px;
    height: 55px;
    padding-left: 15px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 14px;
}

.product-item-price {
    float: right;
    width: 80px;
    height: 20px;
    padding-top: 3px;
    padding-right: 5px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    font-size: 18px;
}

.product-item-oldprice {
    float: right;
    width: 80px;
    height: 20px;
    padding-top: 2px;
    padding-right: 5px;
    color: #e24602;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    text-decoration: line-through;
    font-size: 14px;
}

.product-status-new>a>img::after {
    position: absolute;
    right: 0;
    top: 0;
    content: 'NEW';
    display: block;
    width: 40px;
    height: 36px;
    background-image: url('../img/product-new-corner.png');
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 9px;
    text-align: right;
    padding-right: 6px;
    padding-top: 10px;
}

.product-status-hot>a>img::after {
    position: absolute;
    right: 0;
    top: 0;
    content: 'HOT';
    display: block;
    width: 40px;
    height: 36px;
    background-image: url('../img/product-hot-corner.png');
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 9px;
    text-align: right;
    padding-right: 6px;
    padding-top: 10px;
}

.brands-line {
    background: #fff url('../img/brands-line.png') 14px 70px no-repeat;
    width: 1170px;
    height: 160px;
}

.instagram-line {
    background-color: #eaeaea;
    width: 1170px;
    height: 300px;
    padding-top: 50px;
}

.instagram-name-wrap {
    display: block;
    width: 300px;
    /*    расчетное значение 274 */
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 26px;
}

.instagram-name-wrap:hover>span {
    text-decoration: underline;
    color: #333333;
}

.instagram-name-wrap:active>span {
    color: #fff;
}

.inst-logo-black {
    width: 28px;
    height: 28px;
    background: url('../img/insta%20icon%20black.png') no-repeat;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.instagram-name-wrap span {
    display: inline-block;
}

.instagram-name {
    font-size: 18px;
}

.inst-line-photos li {
    float: left;
    margin-right: 12px;
    background-color: #fff;
}

.inst-line-photos li:last-child {
    margin-right: 0;
}

.inst-line-photos li a {
    display: block;
    width: 185px;
    height: 185px;
}

.inst-line-photos img {
    filter: grayscale(100%);
}

.inst-line-photos a:hover img {
    filter: none;
    transition: 0.7s;
}

.social-network-line li {
    float: left;
}

.social-network-line li a {
    display: block;
    width: 390px;
    height: 150px;
}

.social-network-fb {
    background: rgba(59, 89, 151, 0.7) url('../img/f%20icon%20%20big.png') 50% 50% no-repeat;
}

.social-network-fb:hover {
    background-color: #3b5997;
}

.social-network-tw {
    background: rgba(63, 204, 253, 0.5) url('../img/tw%20icon%20big.png') 50% 50% no-repeat;
}

.social-network-tw:hover {
    background-color: #3fccfd;
}

.social-network-pt {
    background: rgba(203, 32, 39, 0.7) url('../img/pin%20icon%20big.png') 50% 50% no-repeat;
}

.social-network-pt:hover {
    background-color: #cb2027;
}

.footer {
    width: 1308px;
    height: 273px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -348px;
    background-color: #373737;
    clear: both;
    padding-top: 75px;
    padding-left: 192px;
}

.clear-block {
    height: 348px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
}

.footer-headers-text {
    font-family: raleway, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 8px;
}

.footer-submenu {
    width: 198px;
    float: left;
}

.footer-submenu li:first-child {
    margin-bottom: 28px;
}

.footer-submenu a {
    color: inherit;
    line-height: 18px;
    text-decoration: none;
}

.footer-submenu a:hover {
    text-decoration: underline;
}

.footer-submenu a:active {
    text-decoration: none;
    color: grey;
}

.footer-newsletter {
    float: left;
    width: 300px;
}

.footer-newsletter label {
    display: block;
    width: 195px;
}

.footer-newsletter form {
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 21px;
    text-align: left;
}

.footer-newsletter input[type="email"] {
    background-color: #fff51f;
    width: 160px;
    height: 30px;
    border: none;
    padding: 0 0 0 20px;
    color: #333333;
    font-weight: 700;
}

.footer-newsletter input[type="email"]:hover {
    background-color: #fff;
}

.footer-newsletter input[type="email"]:focus {
    color: #333333;
}

.footer-newsletter input[type="submit"] {
    background-color: #000000;
    width: 71px;
    height: 30px;
    border: none;
    margin-left: -3px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-newsletter input[type="submit"]:hover,
.footer-newsletter input[type="submit"]:focus {
    font-weight: 700;
}

.footer-newsletter input[type="submit"]:active {
    background-color: #fff;
    color: #333;
}

.footer-payment {
    margin-top: 46px;
    margin-left: -8px;
    width: 267px;
}

.footer-payment li {
    float: left;
    margin-right: 10px;
    width: 36px;
    height: 22px;
    position: relative;
}

.footer-payment li:last-child {
    margin-right: 0;
}

.footer-payment a {
    display: block;
    width: 36px;
    height: 22px;
}

.footer-payment a:hover {
    position: absolute;
    top: 1px;
    left: 1px;
}

.footer-payment a:active {
    outline: 1px solid #fff;
}

.footer-about {
    float: left;
    width: 232px;
}

.footer-about table {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.footer-about td {
    min-width: 58px;
}

.footer-about a {
    color: #faef03;
    text-decoration: none;
}
.footer-about a:hover{
    text-decoration: underline;
}
.footer-about a:active{
    color: #fff;
}