.container {
    width: 1500px;
    margin: 0 auto;
}

.header {
    background-color: #abeafa;
    height: 700px;
}

.logo {
    float: left;
    width: 125px;
    height: 111px;
    margin-top: 24px;
    margin-left: 234px;
    background-image: url(/img/surfhouse%20logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-social {
    float: right;
    width: 120px;
    height: 16px;
    margin-top: 50px;
    margin-right: 229px;
    position: relative;
}

.menu-social>a {
    position: absolute;
}

.logo-facebook {
    width: 8px;
    height: 16px;
    top:0;
    left:0;
    background-image: url(/img/facebook%20icon.png);
}

.logo-twitter {
    width: 16px;
    height: 14px;
    top:1px;
    left:23px;
    background-image: url(/img/twitter%20icon.png);
}

.logo-youtube {
    width: 16px;
    height: 16px;
    top:0px;
    left:50px;
    background-image: url(/img/youtube%20icon.png);
}

.logo-pinterest {
    width: 14px;
    height: 16px;
    top:0px;
    left:78px;
    background-image: url(/img/pinterest%20icon.png);
}

.logo-instagram {
    width: 16px;
    height: 16px;
    top:0px;
    left:104px;
    background-image: url(/img/insta%20icon.png);
}

.clr {
    clear: both;
}
